@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    Medidas absolutas
    cm, mm, in, px, pt, pc

    Medidas relativas
    em, ex, rem, vw,vh, %
    1em = 16px 
    */

    font-size: 1em;
}

h1{
    font: italic bolder 3em 'work Sans', sans-serif;
}

h2{
    font: bold 2em 'work Sans';
}