@charset "UTF-8";
div.container{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
}

div.item{
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    /*flex-basis: 200px;*/
}

div#a{
    flex: 0 1 200px;
    /*flex-grow: 0;
    flex-shrink: 1;*/
}

div#b{
    flex: 2 0 150px;
    /*flex-grow: 2;
    flex-shrink: 0;*/
}

div#c{
    flex: 1 2 auto;
    /*flex-grow: 1;
    flex-shrink: 2;*/
}