@charset "UTF-8";
div.container{
    background-color: lightsalmon;
    display: flex;
}

div.item{
    background-color: lightblue;
    border: 1px solid black;
    flex: auto;
    text-align: center;
}