@charset "UTF-8";
div.bloco{
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    background-image: url('../imagens/wallpaper003.jpg');
}

div#quadro1{
    background-position: left top;
}

div#quadro2{
    background-position: left center;
}

div#quadro3{
    background-position: right bottom;
}

div#quadro4{
    background-position: center center;
}

