@charset "UTF-8";
body{
    height: 98vh;
    border: 1px solid black;
    border-style: dotted;
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: left bottom;
}