@charset "UTF-8";
body{
    background-attachment: fixed;
    height: 100vh;
    background-color: black;
    background-image: url('../imagens/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
}