@charset "UTF-8";
/*COnfiguações gerais*/

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: whitesmoke;
    text-shadow: 2px 2px 0px #132086;
    padding: 10px;
}