@charset "UTF-8";
/* Kaushan+Script */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Playwrite */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap');