@charset "UTF-8";
div.container{
        background-color: lightsalmon;
        display: flex;
        flex-flow: row nowrap;
    }

    div.item{
        background-color: lightblue;
        border: 1px solid black;
        text-align: center;
        flex-basis: 250px;
        flex-shrink: 1;
        flex-grow: 0;
    }