@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: rgb(102, 102, 102);
    padding: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.741);
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav > a:hover{
    text-decoration: underline;
    margin-right: 30px;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 4px 4px 9px 0px;
}

article{
    background-color: lightgray;
    padding: 5px;
}

article > aside{
    background-color: rgb(165, 165, 165);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
    margin-top: -10px;
}
footer > p{
    margin: 0px;
}