@charset "UTF-8";
h1{
    background-color: lightgrey;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: darkslategray;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    
}

a{
    border-width: 5px;
    border-style: solid;
    border-color: red;    
}