@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: lightgrey;
}

header{
    background-color: rgb(147, 147, 147);
}

header > h1{
    padding: 10px;
    text-align: center;
}

menu{
     display: none;
}

i#burger{
    background-color: rgb(48, 48, 48);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burger:hover{
    display: block;
    background-color: white;
    color: black;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border: 2px solid gray;
}

menu > ul > li > a:hover{
    background-color: gray;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

main > article > h2{
    padding-bottom: 10px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}