@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;

}

table{
    width: 500px;
    border-collapse: collapse;
}

thead, tfoot{
    background-color: gray;
    color: white;
}

td, th{
    border: 1px solid black;
    padding: 10px;
}
