@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

div#conteiner{
    overflow-x: auto;
}

table{
    border-collapse: collapse;
}

caption{
    font-size: 1.2em;
    font-weight: bolder;
    padding: 20px;
}

th, td{
    border: 1px solid black;
}

tr:nth-child(even)
{
    background-color: #8f8f8f;
}