@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width: 400px;
    height: 400px;
}

td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.numero{
    text-align: right;
}