@charset "UTF-8";
div.container{
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
}

div.item{
    background-color: lightblue;
    border: 1px solid black;
    flex-basis: 250px;
    text-align: center;
}