 @charset "UTF-8";
 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

 body{
    background-color: lightsalmon;
    
 }

 main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    background-color: lightgreen;
    width: 90vw;
    height: 90vh;
 }

 section{
    background-color: lightseagreen;
    height: 200px;
    width: 200px;
 }